* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(69, 9, 75);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputSearch {
  background-color: purple;
  width: 20%;
  margin-top: 1%;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
  padding: 10px 5px;
  font-size: 1rem;
}
.inputSearch::placeholder {
  color: rgb(218, 181, 218);
}

.allMovieInfo {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.movies {
  cursor: pointer;
  margin: 1rem 3rem;
  width: 28vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: whitesmoke;
  background-color: rgb(83, 11, 150);
  position: relative;
}

.movies:hover .overview{
    display: block;
    transition: all 1.6s ease-out;
}
.img img {
  width: 28vh;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
}

.movieName {
  height: 10vh;
  display: flex;
  padding: 10px;
}

.movieName h5 {
  width: 20vh;
}

.rating {
  height: 1.5rem;
  background-color: rgb(43, 13, 73);
  padding: 0px 2px;
}

.movieName span.green {
  color: rgb(65, 173, 65);
}
.movieName span.orange {
  color: rgb(255, 183, 49);
}
.movieName span.red {
  color: rgb(250, 34, 34);
}
.overview {

  overflow-y: auto;
  color: black;
  background-color: #fff;
  padding: 0.2rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

@media screen and (max-width: 320px) {
  .search {
    width: 100%;
  }
  .inputSearch {
    width: 70%;
    height: 40%;
  }
}
